package:
  jq:
    installed: true
    title: bpytop | jq package installed
file:
  /usr/local/bin/bw:
    exists: true
    owner: root
    group: root
    mode: "0755"
    filetype: file
    title: bitwarden_cli | runtime binary exists
