package:
  zathura:
    installed: true
    title: zathura | package installed
  zathura-pdf-poppler:
    installed: true
    title: zathura | zathura-pdf-poppler package installed
  zathura-ps:
    installed: true
    title: zathura | zathura-ps package installed
  zathura-cb:
    installed: true
    title: zathura | zathura-cb package installed
  zathura-djvu:
    installed: true
    title: zathura | zathura-djvu package installed
file:
  {{ ansible_facts.user_dir + '/' + zathura.config_dir }}:
    exists: true
    filetype: directory
    owner: {{ user }}
    group: {{ user }}
    title: zathura | configuration directory exists
  {{ [ansible_facts.user_dir,zathura.config_dir,'zathurarc'] | join ('/') }}:
    exists: true
    owner: {{ user }}
    group: {{ user }}
    title: zathura | configuration file exists
