package:
  neofetch:
    installed: true
file:
  {{ ansible_facts.user_dir + '/' + neofetch.config_dir }}:
    exists: true
    filetype: directory
    owner: {{ user }}
    group: {{ user }}
    mode: "0750"
  {{ [ansible_facts.user_dir,neofetch.config_dir,'config.conf'] | join ('/') }}:
    exists: true
    filetype: file
    owner: {{ user }}
    group: {{ user }}
    mode: "0640"
