package:
  gnome-shell-extensions:
    installed: true
file:
  {{ ansible_facts.user_dir + '/' + '.themes' }}:
    exists: true
    owner: {{ user }}
    group: {{ user }}
    mode: "0750"
    filetype: directory
    title: gtk | theme directory exists
