package:
  bridge-utils:
    installed: true
  libvirt-clients:
    installed: true
  libvirt-daemon-system:
    installed: true
  virt-manager:
    installed: true
  virtinst:
    installed: true
process:
  libvirtd:
    running: true
