package:
  libvirt-daemon-system:
    installed: true
    title: qemu_kvm | libvirt-daemon-system package installed 
  libvirt-clients:
    installed: true
    title: qemu_kvm | libvirt-clients package installed 
  virt-manager:
    installed: true
    title: qemu_kvm | virt-manager package installed 
