package:
  qutebrowser:
    installed: true
  fonts-jetbrains-mono:
    installed: true
file:
  {{ ansible_facts.user_dir + '/' + qutebrowser.config_dir }}:
    exists: true
    owner: {{ user }}
    group: {{ user }}
    mode: "0750"
    filetype: directory
  {{ [ansible_facts.user_dir,qutebrowser.config_dir,'config.py'] | join ('/') }}:
    exists: true
    owner: {{ user }}
    group: {{ user }}
    mode: "0640"
    filetype: file
  {{ [ansible_facts.user_dir,qutebrowser.config_dir,'nord-qutebrowser.py'] | join ('/') }}:
    exists: true
    owner: {{ user }}
    group: {{ user }}
    mode: "0640"
    filetype: file
  /etc/alternatives/x-www-browser:
    exists: true
    filetype: symlink
    linked-to: /usr/bin/qutebrowser
