package:
  qutebrowser:
    installed: true
    title: qutebrowser | package installed
  fonts-jetbrains-mono:
    installed: true
    title: qutebrowser | fonts-jetbrains-mono font installed
file:
  {{ ansible_facts.user_dir + '/' + qutebrowser.config_dir }}:
    exists: true
    owner: {{ user }}
    group: {{ user }}
    filetype: directory
    title: qutebrowser | configuration directory exists
  {{ [ansible_facts.user_dir,qutebrowser.config_dir,'config.py'] | join ('/') }}:
    exists: true
    owner: {{ user }}
    group: {{ user }}
    filetype: file
    title: qutebrowser | configuration file exists
  {{ [ansible_facts.user_dir,qutebrowser.config_dir,'nord-qutebrowser.py'] | join ('/') }}:
    exists: true
    owner: {{ user }}
    group: {{ user }}
    filetype: file
    title: qutebrowser | nord theme file exists
  /etc/alternatives/x-www-browser:
    exists: true
    filetype: symlink
    linked-to: /usr/bin/qutebrowser
    title: qutebrowser | set default web browser
