package:
  ncmpcpp:
    installed: true
    title: mpd | package installed
file:
  {{ ansible_facts.user_dir + '/' + ncmpcpp.config_dir }}:
    exists: true
    filetype: directory
    owner: {{ user }}
    group: {{ user }}
    mode: "0750"
    title: ncmpcpp | configuration directory exists
  {{ [ansible_facts.user_dir,ncmpcpp.config_dir,'bindings'] | join('/') }}:
    exists: true
    owner: {{ user }}
    group: {{ user }}
    mode: "0640"
    filetype: file
    title: ncmpcpp | configuration file exists 
  {{ [ansible_facts.user_dir,ncmpcpp.config_dir,'config'] | join('/') }}:
    exists: true
    owner: {{ user }}
    group: {{ user }}
    mode: "0640"
    filetype: file
    title: ncmpcpp | configuration file exists 
