package:
  yamllint:
    installed: true
  python3-pip:
    installed: true
  neovim:
    installed: true
file:
  {{ ansible_facts.user_dir + '/' + neovim.config_dir }}:
    exists: true
    filetype: directory
    owner: {{ user }}
    group: {{ user }}
  {{ [ansible_facts.user_dir,neovim.config_dir,'init.lua'] | join ('/') }}:
    exists: true
    filetype: file
    owner: {{ user }}
    group: {{ user }}
