package:
  ranger:
    installed: true
  caca-utils:
    installed: true
  highlight:
    installed: true
  atool:
    installed: true
  w3m:
    installed: true
  poppler-utils:
    installed: true
  mediainfo:
    installed: true
file:
  {{ ansible_facts.user_dir + '/' + ranger.config_dir }}:
    exists: true
    owner: {{ user }}
    group: {{ user }}
    mode: "0750"
    filetype: directory
  {{ [ansible_facts.user_dir,ranger.config_dir,'rc.conf'] | join ('/') }}:
    exists: true
    owner: {{ user }}
    group: {{ user }}
    mode: "0640"
    filetype: file
