package:
  libncursesw5-dev:
    installed: true
    title: tty_clock | dependency package installed
file:
  /usr/local/bin/tty-clock:
    exists: true
    mode: "0755"
    owner: root
    group: root
    filetype: file
    title: tty_clock | runtime binary exists
  /tmp/tty-clock:
    exists: false
    title: tty_clock | build artifacts removed
  /usr/share/applications/tty_clock.desktop:
    exists: true
    mode: "0644"
    owner: root
    group: root
    filetype: file
    title: tty_clock | desktop file exists
