package:
  mpd:
    installed: true
file:
  {{ ansible_facts.user_dir + '/' + mpd.config_dir }}:
    exists: true
    filetype: directory
    owner: {{ user }}
    group: {{ user }}
    mode: "0750"
  {{ ansible_facts.user_dir + '/' + mpd.playlist_dir }}:
    exists: true
    owner: {{ user }}
    group: {{ user }}
    mode: "0750"
    filetype: directory
  {{ ansible_facts.user_dir + '/' + mpd.db_file }}:
    exists: true
    owner: {{ user }}
    group: {{ user }}
    mode: "0640"
    filetype: file
  {{ ansible_facts.user_dir + '/' + mpd.log_file }}:
    exists: true
    owner: {{ user }}
    group: {{ user }}
    mode: "0640"
    filetype: file
  {{ ansible_facts.user_dir + '/' + mpd.pid_file }}:
    exists: true
    owner: {{ user }}
    group: {{ user }}
    mode: "0640"
    filetype: file
  {{ ansible_facts.user_dir + '/' + mpd.state_file }}:
    exists: true
    owner: {{ user }}
    group: {{ user }}
    mode: "0640"
    filetype: file
  {{ [ansible_facts.user_dir,mpd.config_dir,'mpd.conf'] | join ('/') }}:
    exists: true
    owner: {{ user }}
    group: {{ user }}
    mode: "0640"
    filetype: file
process:
  mpd:
    running: true
